html {
  font-family: Pacifico, cursive;
  color: #fff;
}

figcaption, li a, p, form, table {
  font-family: Dosis, sans-serif;
}

li a {
  text-decoration: none;
  color: #fff;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

li a:hover {
  color: #d91b5b;
}

main {
  background-image: url("");
}

.header {
  background-color: #9dd6c9;
}

.banner, .catering {
  background-color: #dd8297;
}

.contact, .sweets {
  background-color: #08aba7;
}

h1 {
  color: #d91b5b;
}

.pink {
  color: #f4d3da;
}

.blue {
  color: #9dd6c9;
}

h3 {
  color: #9dd6c9;
}

.pink-p {
  margin-bottom: 0;
}

.banner, .sweets, .catering {
  padding: 1em;
}

nav ol li {
  padding-right: 2em;
}

.nav-links {
  padding: 25px;
}

nav ol li:hover {
  background-color: #fff;
  color: white;
}
