html {
  font-family: Pacifico, cursive;
}

figcaption {
  font-family: 'Dosis', sans-serif;
}

li a {
  font-family: 'Dosis', sans-serif;
}

p {
  font-family: 'Dosis', sans-serif;
}

form {
  font-family: 'Dosis', sans-serif;
}

table {
  font-family: 'Dosis', sans-serif;
}
